---
title: fragments
layout: site
pageStyle: fragments
eleventyExcludeFromCollections: true
permalink: /{{ page.fileSlug }}/{{ pagination.pageNumber + 1}}/index.html
pagination:
    data: collections.fragments
    size: 5
    alias: fragments
    reverse: true
---

<ol reversed class="fragment-list">
	{%- for page in fragments | sort(true, false, "date") %} {% set pageDate
	%}{{
		page.date
	}}{% endset %}
	<li class="fragment">
		<a class="fragment__link strong" href="{{ page.url }}">
			<span>{{ pageDate | formatTime('%Y') }}</span>
			<span>{{ pageDate | formatTime('%-m') }}</span>
			<span>{{ pageDate | formatTime('%-d') }}</span>
		</a>
		<section>
			<h3 class="fragment__slug">
				{{ page.data.title or (page.fileSlug | slugToTitle) }}
			</h3>
			<div class="fragment__content">
				{{ page.templateContent | safe }}
			</div>
		</section>
	</li>
	{% endfor %}
</ol>
<div class="pagination" role="navigation">
	<a href="{{ pagination.firstPageHref }}">Newest</a>
	<a href="{{ pagination.previousPageHref }}">Newer</a>
	<a href="{{ pagination.nextPageHref }}">Older</a>
	<a href="{{ pagination.lastPageHref }}">Oldest</a>
</div>
