---
title: fragments
layout: site
pageStyle: fragments
eleventyExcludeFromCollections: true
permalink: /{{ page.fileSlug }}/index.html
---

<ol reversed class="fragment-list">
	{%- for page in collections.fragments | sort(true, false, "date") %} {% set
	pageDate %}{{
		page.date
	}}{% endset %}
	<li class="fragment">
		<a class="fragment__link strong" href="{{ page.url }}">
			<span>{{ pageDate | formatTime('%Y') }}</span>
			<span>{{ pageDate | formatTime('%-m') }}</span>
			<span>{{ pageDate | formatTime('%-d') }}</span>
		</a>
		<section>
			<h3 class="fragment__slug">
				{{ page.data.title or (page.fileSlug | slugToTitle) }}
			</h3>
			<div class="fragment__content">
				{{ page.templateContent | safe }}
			</div>
		</section>
	</li>
	{% endfor %}
</ol>
