---
permalink: feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ metadata.feed.id }}</id>
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	<link href="{{ metadata.feed.url }}" rel="self" />
	<link href="{{ metadata.url }}" />
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
		<url>{{ metadata.author.url }}</url>
	</author>
	<updated>{{ collections.fragments | rssLastUpdatedDate }}</updated>
	{%- for fragment in collections.fragments %}
	{% set absoluteFragmentUrl %}{{ fragment.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<id>{{ absoluteFragmentUrl }}</id>
		<title>{{ fragment.data.title or (fragment.fileSlug | slugToTitle) }}</title>{% if fragment.data.description %}
		<summary>{{ fragment.data.description }}</summary>{% endif %}
		<published>{{ fragment.date | rssDate }}</published>
		<updated>{{ (fragment.data.updated or fragment.date) | rssDate }}</updated>{% for tag in fragment.data.tags %}
		<category term="{{ tag }}" />{% endfor %}
		<link rel="alternate" href="{{ absoluteFragmentUrl }}" />
		<content type="html"><![CDATA[{{ fragment.templateContent | htmlToAbsoluteUrls(absoluteFragmentUrl) | safe }}]]></content>
	</entry>
	{%- endfor %}
</feed>