html {
	font-size: 100%;
	background-color: var(--layer-bg);
}

body {
	margin: 0;
	display: grid;
	grid-template-columns:
		[gutter-left-start header-start] 6rem [gutter-left-end main-start] repeat(
			auto-fit,
			2rem
		)
		[main-end gutter-right-start] 6rem [gutter-right-end header-end];
	grid-template-rows: [header-start main-start] 6rem [header-end] auto [main-end];
	min-height: 100vh;
	font-size: 1rem;
	line-height: 2;
	font-family: var(--font-stack-sans);
}

header {
	grid-area: header;
	padding: 1rem;
	z-index: 10;
}

main {
	grid-area: main;
	padding-top: 1rem;
}

/*
Set all block level elements to fit into the grid.
Display: table; allows elements to take only the horizontal space they need, but still break to a new line before and after.
Ideally, there would be some way to force the width to only a certain rem multiple, but if there is, I'm not aware of it yet.
*/
/* p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote {
	--offset: 1rem;
	display: table;
	background-color: var(--layer-bg);
	border-left: 1px solid var(--layer-grid);
	border-right: 1px solid var(--layer-grid);
	box-shadow: 0 1px 0 var(--layer-grid), 0 -1px 0 var(--layer-grid);
	padding: 0 var(--offset);
	position: relative;
	left: calc(-1 * var(--offset));
}

ol,
ul {
	padding-left: 3.5rem;
} */

h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 300;
	letter-spacing: 1px;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

blockquote {
	margin: 0;
	padding-left: 1rem;
	border-left: 1rem solid var(--darker-1);
	font-style: italic;
}

code,
pre {
	font-family: var(--font-stack-mono);
	line-height: 2;
}

pre {
	padding: 0.5rem 2rem;
	background-color: var(--darker-1);
}

a {
	line-height: 1; /* Fixes bug where anchor tags add tiny bits of vertical space to their container. */
	color: var(--theme-6);
	transition: color 0.2s;
}

a:hover {
	color: var(--theme-9);
}

.heading-link {
	text-decoration: none;
	font-size: 0.85em;
	margin-left: 0.25em;
	opacity: 0.5;
	transition: opacity 0.2s;
}
.heading-link:hover {
	opacity: 1;
}
