html {
	font-size: 75%;
	background-color: var(--layer-bg);
}

body {
	margin: 0;
	padding: var(--body-padding);
	position: relative;
	display: grid;
	grid-template-columns:
		[gutter-left-start] var(--gutter-width)
		[gutter-left-end gutter-gap-start] var(--gutter-gap)
		[gutter-gap-end header-start main-start] repeat(auto-fit, 2rem)
		[main-end header-end];
	grid-template-rows: [header-start] auto [header-end main-start] 1fr [main-end];
	grid-row-gap: 4rem;
	min-height: 100vh;
	font-size: var(--font-size-base);
	line-height: 2rem;
	font-family: var(--font-stack-sans);
	font-weight: var(--font-weight-normal);
	color: var(--clr-text-primary);
}

.logo {
	grid-column: gutter-left;
	justify-self: end;
	grid-row: header;
	padding: 0.5rem 0;
}

header {
	grid-area: header;
	z-index: 10;
}

main {
	grid-area: main;
	max-width: var(--content-width);
}

.gutter-left {
	--gutter-total: calc(var(--gutter-width) + var(--gutter-padding));
	width: var(--gutter-total);
	min-width: var(--gutter-total);
	margin-right: var(--gutter-padding);
	padding-right: var(--gutter-padding);
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.splash {
	position: absolute;
	top: -2rem;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: calc(4rem + 95vw - var(--total-width));
	min-width: 4rem;
}

.splash > svg {
	width: 100%;
	height: calc(100% + 4rem);
}

.splash .theme-2 {
	stroke: var(--clr-text-primary);
	stroke-width: 2px;
}

@media (max-width: 600px) {
	:root {
		--body-padding: 2rem;
	}

	body {
		margin-bottom: 4rem;
		grid-template-columns:
			[gutter-left-start main-start] var(--gutter-width)
			[gutter-left-end gutter-gap-start] var(--gutter-gap)
			[gutter-gap-end header-start] repeat(auto-fit, 2rem)
			[main-end header-end];
	}

	.splash {
		position: fixed;
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
		transform: rotate(90deg) translateY(calc(-100vw))
			translateX(calc(100vh - 6rem));
		transform-origin: 0 0;
		height: calc(100vw + 4rem);
		width: 4rem;
	}
}

h1 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: var(--font-size-largest);
	line-height: 4rem;
	font-weight: var(--font-weight-normal);
	letter-spacing: 1px;
}

h2 {
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-size: var(--font-size-larger);
	line-height: 3rem;
	font-weight: var(--font-weight-normal);
	letter-spacing: 2px;
}

h3 {
	font-size: var(--font-size-base);
	line-height: 2rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-weight: var(--font-weight-bolder);
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

blockquote {
	margin: 0;
	padding-left: 1rem;
	border-left: 1rem solid var(--layer-bg);
	font-size: var(--font-size-smaller);
	font-style: italic;
}

blockquote cite {
	padding: 0.5rem 0;
	font-style: normal;
	display: block;
	text-align: right;
}

code,
pre {
	font-family: var(--font-stack-mono);
	line-height: 2rem;
	margin: 1rem 0;
}

pre {
	padding: 0.5rem 2rem;
	background-color: var(--darker-1);
}

ul,
ol {
	margin: 1rem 0;
	line-height: 3rem;
}

table {
	margin: 2rem 0;
	border-collapse: collapse;
}

tbody {
	vertical-align: baseline;
}

tbody > tr {
	box-shadow: 0 -1px 0 var(--border);
}

th,
td {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

th {
	text-align: left;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
ul:first-child,
ol:first-child,
blockquote:first-child,
pre:first-child {
	margin-top: 0;
}

a {
	line-height: inherit; /* Fixes bug where anchor tags add tiny bits of vertical space to their container. */
	color: var(--theme-2);
	transition: color 0.2s;
}

a:hover {
	color: var(--theme-1);
}

.heading-link {
	display: none;
}
