html {
	font-size: 100%;
	background-color: var(--layer-bg);
}

body {
	margin: 2rem 0;
	display: grid;
	grid-template-columns:
		[gutter-left-start] 2rem [gutter-left-end main-start] repeat(
			auto-fit,
			2rem
		)
		[main-end gutter-right-start] 2rem [gutter-right-end];
	font-size: 1rem;
	line-height: 1.5;
	font-family: var(--font-stack-serif);
}

main {
	grid-column: main;
}

h1 {
	font-size: 2rem;
	line-height: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

code,
pre {
	font-family: var(--font-stack-mono);
	line-height: 2;
}

pre {
	background-color: rgba(0, 0, 0, 0.05);
}

.heading-link {
	text-decoration: none;
	font-size: 0.85em;
	margin-left: 0.25em;
	opacity: 0.5;
	transition: opacity 0.2s;
}
.heading-link:hover {
	opacity: 1;
}
