:root {
	/* System font stacks from https://gist.github.com/don1138/5761014 */
	--font-stack-serif: 'Palatino Linotype', Palatino, Palladio,
		'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style',
		'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond',
		'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook',
		'Century Schoolbook L', Georgia, serif;
	--font-stack-sans: Montserrat, Roboto, -apple-system, BlinkMacSystemFont,
		Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	--font-stack-mono: Consolas, 'Andale Mono WT', 'Andale Mono',
		'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
		'Courier New', Courier, monospace;

	--base-font-size: calc(4rem / 3);
	--font-weight-normal: 300;
	--font-weight-bolder: 500;

	--theme-2: #ad4111;
	--theme-1: #d07939;

	--gray-1: #bebebe;
	--gray-2: #606060;
	--gray-3: #1d1d1d;

	--clr-text: rgba(0, 0, 0, 0.9);

	--layer-bg: #edeceb;
	--layer-grid: rgba(255, 255, 255, 0.3);
	--border: hsla(0, 0%, 0%, 0.85);

	--darker-1: rgba(0, 0, 0, 0.05);

	--x-line: linear-gradient(
		to bottom,
		var(--layer-grid) 1px,
		transparent 1px
	);
	--y-line: linear-gradient(to right, var(--layer-grid) 1px, transparent 1px);
	--xy-line: var(--x-line), var(--y-line);

	--body-margin: 4rem;
	--gutter-width: 12rem;
	--content-width: 45rem;
	--aside-width: 20rem;
	--space-width: 25rem;
	--total-width: calc(
		var(--gutter-width) + var(--content-width) + var(--aside-width) +
			var(--space-width)
	);
}

@media (max-width: 1440px) {
	:root {
		--aside-width: 0rem;
	}
}
