<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Basics -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.feed.title }}">
		<!-- SEO -->
		<title>{{ renderData.title or title or metadata.title }}</title>
		<meta name="description"		content="{{ renderData.description or description or metadata.description }}">
		<meta name="keywords"			content="{{ renderData.keywords or keywords or metadata.keywords }}">
		<meta name="robots"				content="index,follow">
		<!-- OpenGraph Tags -->
		<meta property="og:title"		content="{{ renderData.title or title or metadata.title }}">
		<meta property="og:description"	content="{{ renderData.description or description or metadata.description }}">
		<meta property="og:image"		content="{{ renderData.image or image or metadata.image }}">
		<meta property="og:type"		content="website">
		<!-- Rendering / Layout / Function -->
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,500&display=swap">
		<link rel="stylesheet" href="/site.css" type="text/css">
		<meta name="theme-color" content="{{ metadata.themeColor }}">
		<link rel="icon" href="/favicon.png" type="image/x-icon">{% if pageStyle %}
		<style type="text/css">{% set css %}{% include 'pages/' + pageStyle + '.css' %}{% endset %}
			{{ css | cssmin | safe }}
		</style>{% endif %}{% if pagination %}
		<!-- Pagination -->
		<link rel="first" href="{{ pagination.firstPageHref }}">
		<link rel="prev" href="{{ pagination.previousPageHref }}">
		<link rel="next" href="{{ pagination.nextPageHref }}">
		<link rel="last" href="{{ pagination.lastPageHref }}">{% endif %}
	</head>
	<body class="gridded">
		{{ content | safe }}
	</body>
	{% if pageScript %}
	<script src="/scripts/{{pageScript}}.js"></script>
	{% endif %}
</html>