---
layout: base
---
{% include 'components/isometrics/logo.svg' %}
{% include 'components/header/header.html' %}
<main>
	{{ content | safe }}
</main>
<div class="splash" role="presentation">
	{% include 'components/splash.svg' %}
</div>
<footer>
	<p style="display: none;">👁️</p>
</footer>