<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>{{ renderData.title or title or metadata.title }}</title>
		<link rel="icon" href="/favicon.png" type="image/x-icon" />
		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml"
			title="{{ metadata.feed.title }}">
		<meta name="theme-color" content="{{ metadata.themeColor }}">
		<!-- SEO -->
		<meta name="description" content="{{ renderData.description or description or metadata.description }}" />
		<link rel="canonical" href="{{ metadata.url }}" />
		<meta property="og:url" content="{{ metadata.url }}" />
		<meta property="og:title" content="{{ renderData.title or title or metadata.title }}" />
		<meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />
		<meta property="og:image" content="/images/site.png" />
		<meta property="og:type" content="website" />
		<meta name="keywords" content="{{ renderData.keywords or keywords or metadata.keywords }}" />
		<!-- Layout / function -->
		<link rel="stylesheet" type="text/css" href="/site.css" />
		{% if pageStyle %}
		<style type="text/css">
		{% set css %}
		{% include 'styles/pages/playground.css' %}
		{% endset %}{{ css | cssmin | safe }}
		</style>
		{% endif %}
	</head>

	<body>
		{{ content | safe }}
	</body>

</html>