---
layout: base
---
{% include 'components/isometrics/logo.svg' %}
{% include 'components/header/header.html' %}
<main>
	{{ content | safe }}
</main>
<div class="splash" aria-hidden="true">
	{% include 'components/splash.svg' %}
</div>
<footer style="display: none;">
	<p>👁️</p>
</footer>