.fragment-list {
	list-style-type: none;
	line-height: inherit;
	padding: 0;
}

.fragment {
	--offset: calc(-1 * var(--gutter-gap) / 2);
	position: relative;
	border-left: 2px solid var(--border);
	padding-left: calc(-1 * var(--offset));
	left: var(--offset);
	width: calc(100% - var(--offset));
}

@media (max-width: 600px) {
	.fragment {
		--offset: calc(var(--body-padding) + 1rem);
		padding-left: 1rem;
	}
}

.fragment:not(:last-child) {
	margin-bottom: 4rem;
}

.fragment__link {
	position: absolute;
	right: calc(100% + (var(--gutter-gap) / 2));
	text-decoration: none;
	font-weight: var(--font-weight-bolder);
	text-align: right;
}

.fragment__slug {
	margin-top: 0;
}
