---
layout: site
pageStyle: fragments
permalink: 'commonplace/works/{{ pagination.items[0].name | slugify }}/index.html'
pagination:
    data: commonplace.works.all
    size: 1
    alias: work
    reverse: true
---

<h2>
	{{ work.name | lower }}
</h2>

<p>This page and many others are still under construction.</p>

<div>
	{{ work | dump }}
</div>

{% for creatorId in work.creator %}
{% set creator = commonplace.creators.byId[creatorId] %}
<div>
 {{ creator | dump }}
</div>
{% endfor %}

{% for extractId in work.direct_extracts %}
{% set extract = commonplace.extracts.byId[extractId] %}
<div>
 {{ extract | dump }}
</div>
{% endfor %}
