---
layout: site
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - tagList
    - all
    - fragments
permalink: /tagged/{{ tag }}/
---

<h2>Tagged "{{ tag }}"</h2>

<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ol>