header {
	pointer-events: none;
}

nav {
	display: inline-block;
	line-height: 0;
	pointer-events: auto;
}

nav > a {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	background: currentColor;
	border: 1rem solid var(--layer-bg);
}
