---
permalink: site.css
eleventyExcludeFromCollections: true
---
{% set css %}
{% include 'styles/vars.css' %}
{% include 'styles/reset.css' %}
{% include 'styles/base.css' %}
{# Components
TODO: Glob these automatically, as outlined here:
https://www.11ty.io/docs/quicktips/concatenate/
#}
{% include 'components/header/header.css' %}
{# End components #}
{% include 'styles/helpers.css' %}
{% endset %}{{ css | cssmin | safe }}