.site-title {
	margin: 0;
}

.site-title > a {
	all: inherit;
}

.site-title > a:hover {
	cursor: pointer;
}

header ul {
	list-style-type: none;
	padding: 0;
}

.nav-link {
	text-decoration: none;
	font-weight: var(--font-weight-bolder);
}

.nav-link:not(:first-child)::before {
	content: '   /   ';
	white-space: pre;
	color: rgba(0, 0, 0, 0.25);
}
