.site-header {
	display: flex;
}

.logo {
	width: 100%;
	max-width: 6rem;
}

.logo .iso-face {
	stroke: 1px solid var(--clr-text-primary);
}

.logo .iso-face--xz {
	fill: var(--gray-1);
}

.logo .iso-face--xy {
	fill: var(--gray-2);
}

.logo .iso-face--yz {
	fill: var(--gray-3);
}

.site-title {
	margin: 0;
}

.site-title > a {
	all: inherit;
}

.site-title > a:hover {
	cursor: pointer;
}

.site-title span {
	white-space: nowrap;
}

header ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-item {
	display: inline-block;
}

.nav-item + .nav-item {
	margin-top: 0;
}

.nav-item:not(:first-child)::before {
	content: '   /   ';
	white-space: pre;
	color: rgba(0, 0, 0, 0.25);
}

.nav-link {
	text-decoration: none;
	font-weight: var(--font-weight-bolder);
}
