.site-header {
	display: flex;
}

.logo .iso-face {
	stroke: 1px solid var(--clr-text-primary);
}

.logo .iso-face--xz {
	fill: var(--gray-1);
}

.logo .iso-face--xy {
	fill: var(--gray-2);
}

.logo .iso-face--yz {
	fill: var(--gray-3);
}

.site-title {
	margin: 0;
}

.site-title > a {
	all: inherit;
}

.site-title > a:hover {
	cursor: pointer;
}

.site-title span {
	white-space: nowrap;
}

header ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-item {
	display: inline-block;
}

.nav-item + .nav-item {
	margin-top: 0;
}

.nav-item:not(:first-child)::before {
	content: '   /   ';
	white-space: pre;
	color: rgba(0, 0, 0, 0.25);
}

.nav-link {
	text-decoration: none;
	font-weight: var(--font-weight-bolder);
}

.nav-link__icon {
	display: none;
}

@media (max-width: 500px) {
	.site-header {
		text-align: center;
		justify-content: center;
	}

	.nav-items {
		margin: 0.5rem 0;
	}
}

@media (max-width: 400px) {
	.nav-link__icon {
		display: inline-block;
		width: 6rem;
		text-align: center;
	}

	.nav-link__label {
		visibility: hidden;
		display: inline-block;
		width: 0;
	}

	.nav-item:not(:first-child)::before {
		content: '/';
	}
}
